body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

textarea, input {
    min-height: 25px;
}

textarea, input {
    min-width: 60%; /* approx. 60 % from the display */
}

a, .button_ok {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
}

.button_ok {
    border: none;
    outline: none;
    min-width: 100px;
    text-align: center;
}

.button_add, .button_ok {
    color: #3A7734;
    background-color: #A5D6D9;
    min-width: 190px;
    text-align: center;
}
/* alignment of the button is possible only inside a container */
.add_button_container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.button_delete {
    color: #C00;
    background-color: #F8D7DA;
}

.button_update {
    color: #6c3404;
    background-color: rgba(216, 140, 2, 0.37);
}

.post {
    padding: 20px;
    margin-bottom: 20px;
}

textarea, input, .post {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.post_header {
    display: flex;
    justify-content: space-between;
}