body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

a {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
    color: #3A7734;
    background-color: #A5D6D9;
}

.post_header a {
    color: #C00;
    background-color: #F8D7DA;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.post_header {
    display: flex;
    justify-content: space-between;
}