<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>New blog post</h1>
    <div class="post">
        <form action="/add" method="POST">
            <h2><label>Enter your name:</label></h2></br>
            <p><input type="text" id="user_name_id" name="user_name" required></p></br>
            <h2><label>Enter the title of your post:</label></h2></br>
            <p><input type="text" id="post_title_id" name="post_title"></p></br>
            <h2><label>Enter the content:</label></br></h2>
            <p><input type="text" id="post_content_id" name="post_content"></p></br>
            <p><input type="submit" value="Ok"></p>
        </form>
    </div>
</body>
</html>
