<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to the Simple Blog!</h1>
    <a href="{{ url_for('add') }}">Add post</a>
    {% for blog_post in posts %}
    <div class="post">
        <div class="post_header">
            <h2>{{ blog_post["title"] }}</h2>
            <a href="{{ url_for('delete', post_id=blog_post['id']) }}">Delete post</a>
        </div>
        <p><em>Written by {{ blog_post["author"] }}</em></p>
        <p>{{ blog_post["content"] }}</p>
    </div>
    {% endfor %}
</body>
</html>
