<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to the Simple Blog!</h1>
    <div class="add_button_container">
        <a class="button_add" href="{{ url_for('add') }}">Add post</a>
    </div>
    {% for blog_post in posts %}
    <div class="post">
        <div class="post_header">
            <h2>{{ blog_post["title"] }}</h2>
            <div>
                <a class="button_delete" href="{{ url_for('delete', post_id=blog_post['id']) }}">Delete post</a>
                <a class="button_update" href="{{ url_for('update', post_id=blog_post['id']) }}">Update post</a>
            </div>
        </div>
        <div class="container_author_and_likes">
            <p><em>Written by {{ blog_post["author"] }}</em></p>
            <div class="likes">
                <a class="button_like" href="{{ url_for('like', post_id=blog_post['id']) }}">Like post</a>
                <p>{{ blog_post["likes"] }}</p>
            </div>
        </div>
        <p>{{ blog_post["content"] }}</p>
    </div>
    {% endfor %}
</body>
</html>
